<form (ngSubmit)="onSubmit($event)">
    <table style="table-layout: fixed; width: 100%; background-color: #ffffff;">
        <thead>
            <tr>
                <th>Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hour of hours">
                <td>{{ hour }}</td>
                <td (click)="toggleSelection('lunes', hour)" [class.selected]="isSelected('lunes', hour)"></td>
                <td (click)="toggleSelection('martes', hour)" [class.selected]="isSelected('martes', hour)"></td>
                <td (click)="toggleSelection('miercoles', hour)" [class.selected]="isSelected('miercoles', hour)"></td>
                <td (click)="toggleSelection('jueves', hour)" [class.selected]="isSelected('jueves', hour)"></td>
                <td (click)="toggleSelection('viernes', hour)" [class.selected]="isSelected('viernes', hour)"></td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Enviar" (click)="onSubmit($event)">
</form>

<style>
    .selected {
        background-color: #4CAF50; /* Cambia el color de fondo al seleccionar */
        color: white; /* Cambia el color del texto */
    }

    table {
        color: black;
        width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
        table-layout: fixed; /* Establece un diseño de tabla fijo */
        background-color: #ffffff; /* Fondo blanco para la tabla */
        border-radius: 5px; /* Bordes redondeados para la tabla */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
        border: 1px solid black; /* Agrega bordes a la tabla */
    }

    th, td {
        text-align: center; /* Centra el texto en las celdas */
        padding: 10px; /* Agrega un poco de espacio dentro de las celdas */
        overflow: hidden; /* Oculta el desbordamiento de texto */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        border: 2px solid black; /* Agrega bordes a las celdas */
        border-radius: 5px;
    }
</style>