nav {
    border-radius: 10px;
}

div {
    display: flex;
    align-items: center;
}
.navbar {
    background: linear-gradient(to right, rgb(223, 223, 223), rgb(134, 134, 134));
    margin: auto;
}
.link {
    padding: 5px;
    margin: 5px 15px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #7b0086;
}