<nav class="navbar">
    <div class="navbar-content">
        <a href="/home" class="navbar-logo">
            <img src="assets/android-chrome-192x192.png"/>
        </a>
        <div class="navbar-links">
            <a href="/courses" class="link">
                <i class="material-icons">event</i> <span class="hidden-text">Eventos y Cursos</span>
            </a>
            <a href="/contact" class="link">
                <i class="material-icons">contact_mail</i> <span class="hidden-text">Contacto</span>
            </a>
        </div>
    </div>
</nav>