<div class="home">
    <div class="home-header">
        <img src="assets/home_flayer.png"/>
    </div>
    <div class="home-content" style="display: flex;">
        <div class="home-schedulegen">
            <h1>
                Apoyanos mandandonos tu horas libres, así podremos tener cursos más accesibles para todos
            </h1>
            <a href="/Club-Page/schedule" class="send-schedule">
            <i class="material-icons">send</i> <span>Crear horario</span>
            </a>
            
        </div>
        <div class="home-blog">
            
        </div>
    </div>
</div>